@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

table {
    margin: 0px 0px;
}

.month-break {
    padding-top: 40px;
    font-size: 120%;
    color: #444;
}

.day-break {
    font-size: 150%;
    color: #840;
    width: 2.3rem;
    padding-left: 0.3rem;
}

.time-break {
    color: #666;
    font-size: 80%;
    width: 2.5rem;
}