dialog {
    position: fixed;
    inset: 0;
    margin: auto;
    border: 0.2rem solid var(--dialog-color);
    border-radius: 2mm;
    box-shadow: 100vw 100vw;
    padding: 2mm;

    header {
        background-color: var(--dialog-color);
        opacity: 0.5;
    }
}

header.matchcard {

    display: grid;
    grid-template-columns: 1fr auto;

    .detail {
        grid-column: 1 / span 2;
        border-top: 1px solid black;
        margin-top: 2mm;
        padding-top: 2mm;
        display: flex;
        gap: 5mm;
        dl {
            font-size: 11pt;
            dt {
                font-weight: 800;
            }
            dd {
                margin: 0;
            }
        }
    }
}

.teams {
    display: flex;
    width:100%;
    flex-direction: row;
    gap: 1cm;
    & > li {
        display: block;
        width: 100%;
    }

    .team button {
        width: 100%;
    }
}

.teams .player {
    display: grid;
    grid-template-columns: 1.5rem 6rem 1fr auto;
    border-top: 1px solid #ccc;
    padding-block: 0.2rem;
}

.teams .detail {
    * {
        font-size: 80%;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
    }
    li {
        border-radius: 100vw;
        padding: 1px 4px 2px 4px;
    }
    output {
        margin-left: 1mm;
        color: #4a6;
    }
}

.team header {
    margin-top: 2mm;
    margin-bottom: 1mm;
    display: grid;
    grid-template-columns: 1fr auto;
    border-top: 1px solid black;

    output {
        font-size: 120% !important;
        vertical-align: bottom;
    }
}

#matchcard {
    div.detail {
        display: flex;
        gap: 6mm;
        margin-bottom: 2mm;
        dl {
            font-size: 11pt;
            dt {
                font-weight: 800;
            }
            dd {
                margin: 0;
            }
        }
    }
    span.detail {
        * {
            display: inline-block;
        }
        ol {
            margin: 0;
            padding: 0;
        }
        .roles {
            li {
                list-style-type: none;
                display: inline-block;
                padding: 0 5px;
                border-radius: 3px;
                margin-right: 3px;
                font-size: 80%;
                font-weight: normal;
                }
        }
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 0;
        title {
            padding-bottom: 5px;
            width: 100%;
            margin-bottom: 5px;
            border-bottom: 1px solid black;
            display: flex;

            h1 {
                flex-grow: 1;
            }
        }
    }

    caption {
        position:relative;
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: 800;
        color: black;
        border-top: 1px solid black;
        padding: 10px 0;
    }

    .teams {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;

        .penalties img {
            width: 20px;
            margin-bottom: -12px;
        }

        table {
            border-spacing: 0;
            flex-grow: 1;
            width: 100%;
            caption-side: top;

            tr {
                width:100%;
                td {
                    position:relative;
                    width:auto;
                    font-size: 14px;    
                    border-top: 1px solid #ddd;
                    padding: 5px 0;
                }

                td:nth-child(1) {
                    width:25px;
                }
                td:nth-child(3) {
                    width:60%;
                }
            }
            .selected {
                table {
                    border-spacing:0;
                }
                background-color: rgba(221, 194, 141, 0.3);
                tr:first-child {
                    background-color: rgba(221, 194, 141, 0.8);
                }
                &>td {
                    padding: 0;
                    border-radius: 5px;
                    border: 3px solid rgba(221, 194, 141, 0.8);
                }
                
                tr:not(:first-child) td {
                    padding: 10px 25px
                }
                td td {
                    text-align: left;
                    border: 0px;
                }
                .goals {
                    float: right;
                    font-size: 120%;
                    svg {
                        color: white;
                        background: #484;
                        border-radius: 0 5px 5px 0;
                        &:first-child {
                            border-radius: 5px 0 0 5px;
                        }
                        height: 20px;
                        padding: 3px;
                        border: 1px solid #484;
                    }
                    span {
                        padding: 2px 3px 4px 3px;
                        height: 20px;
                        display: inline-block;
                        color: #484;
                        background-color: white;
                        width: 1.8rem;
                        font-weight: bold;
                        text-align: center;
                        border: 1px solid #484;
                        vertical-align: top;
                    }
                }
                .roles {
                    button {
                        width: 4rem;
                        font-weight: normal;
                        font-size: 100%;
                    }
                    td span {
                        display: flex;
                        gap: 10px;
                        align-content: space-between  ;
                        button {
                            width: 20px;
                            flex-grow: 1;
                        }
                    }
                }
            }

        }

        .detail {
            position: absolute;
            right: 0;
            color: #484;
            font-weight: bold;
        }
    }

    @media screen and (min-width: 32rem) {
        .teams {
            flex-direction: row;
        }
    }
}

@media only screen and (max-width: 600px) {
    .teams {
        flex-direction: column;
    }
    
    header.matchcard {
        grid-template-columns: 1fr;
        .detail {
            grid-column: 1;
        }
    }
}