@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  overflow-y: scroll;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
}

.container {
  margin-top: 80px;
}

footer div {
  position: fixed;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
  font-size: 60%;
  padding: 2px;
}

.smallprint {
  color: darkred;
  text-align: center;
  margin-top: 10rem;
}

/* ---------- Navbar ------------------------------------------- */
.tab-pane {
  padding: 20px 10px;
}

#user {
  position: absolute;
  min-height: 18px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  color: crimson;
  right: 0;
  top: 55px;
}

#user select {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 100;
  color: black;
}

.objecttable {
  margin: 20px 0;
}

.table > thead > tr > th {
  border-bottom-color: black;
}

.table td {
  padding: 0.5rem 0.25rem 0.15rem;
}

td.number {
  text-align: center;
}

/* ---------- General Styles ----------------------------------- */
td,
th {
  white-space: nowrap;
}

div.command-group {
  margin-top: -50px;
  margin-bottom: 0;
  float: right;
  display: inline-flex;
}
div.command-group * {
  margin-left: 5px;
}

td.command-group {
  text-align: right;
}

.modal-header {
  background: mediumseagreen;
  color: white;
  border-radius: 0;
  border: none;
}

.close {
  color: white;
  opacity: 1;
  text-shadow: none;
}

.hints {
  font-style: italic;
  font-size: 0.9;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* ---------- Competition Tags --------------------------------- */
.label-league,
.label-cup,
.label-team {
  vertical-align: middle;
  border: 1px solid #7ab733;
  padding: 5px 5px 3px;
  margin-right: 2px;
  display: inline-block !important;
}

.label-league {
  background-color: #7ab733;
}

.label-cup {
  background-color: #eeffcc;
  color: #7ab733;
}

.label-team {
  border: 1px solid #b7337a;
  color: white;
  background-color: #b7337a;
}

.label-list {
  white-space: normal;
}

/* ---------- Matchcard Formatting ------------------------------ */
#match-card {
  width: 100%;
  overflow-x: hidden;
  /* where screen is wide enough put side by side */
  width: 100%;
  overflow-x: hidden;
  position: relative;
  /* where screen is wide enough put side by side */
}
#match-card h1 {
  width: 100%;
  border-bottom: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}
#match-card #teams {
  margin-right: 0;
}
#match-card .team {
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #match-card #teams {
    margin-right: -20px;
  }
  #match-card .team {
    width: 50%;
    padding-right: 20px;
    float: left;
  }
}
#match-card table {
  width: 100%;
}
#match-card tr td {
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid #ddd;
}
#match-card tr td:nth-child(2) {
  font-style: italic;
}
#match-card tr td:nth-child(3) {
  width: 60%;
}
#match-card detail {
  width: 100%;
  clear: both;
  display: block;
  float: left;
}
#match-card detail dl {
  padding-right: 30px;
  float: left;
  margin-bottom: 0;
}
#match-card #lock-code {
  float: right;
  padding-right: 0;
}
#match-card #lock-code * {
  text-align: right;
}
#match-card tr {
  height: 2em;
}
#match-card tr.filler {
  background: repeating-linear-gradient(45deg, white, white 9px, #eee 2px, #eee 11px);
}
#match-card span.card-penalty img {
  width: 1.5em;
  margin: -1.5em -0.3em -0.5em 0.5em;
}
#match-card thead tr {
  font-size: 20px;
  color: black;
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
#match-card thead tr th {
  text-align: left;
}
#match-card thead tr img {
  height: 20px;
}
#match-card .ineligible {
  background: repeating-linear-gradient(45deg, white, white 10px, #fea 10px, #fea 20px);
}
#match-card figure {
  float: left;
  margin: 5px 5px 0 0;
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
#match-card figure .score {
  position: absolute;
  top: 5px;
  right: 8px;
}
#match-card figure .number {
  width: 15px;
  text-align: center;
  display: block;
}
#match-card figcaption {
  margin-top: -19px;
  font-size: 70%;
  text-align: left;
  margin-left: 18px;
  height: 1.6rem;
}
#match-card figcaption:first-line {
  font-size: 60%;
  font-style: italic;
}
#match-card h2 {
  font-size: 25px;
}
#match-card #headshot {
  position: absolute;
  right: 0;
}
#match-card tr th {
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid #ddd;
}
#match-card #fixture tr {
  height: 2em;
}
#match-card thead tr th,
#match-card #fixture thead tr th {
  text-align: left;
  width: 2em;
}
#match-card tbody tr th:first-child {
  text-align: center;
  width: 3em;
}
#match-card tr .player-annotations {
  display: inline;
  float: right;
}
#match-card #fixture table#players {
  margin-top: 20px;
}
#match-card .score {
  font-weight: bold;
}
#match-card .score:nth-child(1) {
  color: #484;
}
#match-card .score:nth-child(1):before {
  content: "x";
}
#match-card .team-table thead tr {
  font-size: 20px;
  color: black;
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
#match-card .team-table thead tr .scores {
  float: right;
  position: relative;
  margin-right: 10px;
}
#match-card .team-table thead tr .scores span {
  font-weight: bold;
}
#match-card .team-table thead tr .scores span:nth-child(1) {
  color: #484;
}
#match-card .team-table thead tr .scores span:nth-child(1):before {
  content: "x";
}
#match-card .team-table thead tr .scores span:nth-child(2) {
  position: absolute;
  top: 0;
  color: #aca;
  padding: 0;
  font-size: 80%;
}
#match-card .team-table thead tr .scores span:nth-child(2):before {
  content: "\\";
}
#match-card .late {
  color: #d9534f;
}
#match-card .deleted td {
  position: relative;
  color: rgba(217, 83, 79, 0.5019607843);
}
#match-card .deleted td:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  background: rgba(217, 83, 79, 0.5019607843);
}
#match-card div.figures {
  padding-top: 5px;
}
#match-card figure {
  float: left;
  margin: 5px 5px 0 0;
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px #ccc;
}
#match-card figure img {
  width: 100%;
}
#match-card figure img.card {
  width: 1.5em;
  position: absolute;
  top: 4px;
  left: 4px;
}
#match-card figure .number {
  width: 15px;
  text-align: center;
  display: block;
}
#match-card figcaption {
  margin-top: -19px;
  font-size: 70%;
  text-align: left;
  margin-left: 18px;
  height: 1.6rem;
}
#match-card figcaption:first-line {
  font-size: 60%;
  font-style: italic;
}
#match-card button.add-player {
  margin-top: 5px;
}
#match-card .flash {
  background-color: white !important;
  color: green;
}
#match-card .spacer {
  height: 80px;
}
#match-card .alert-small {
  font-size: 90% !important;
  text-align: center !important;
  padding: 2px 5px !important;
  margin-bottom: 10px !important;
}
#match-card #context-menu {
  padding-top: 0px;
}
#match-card #context-menu form {
  padding: 0 1.5em;
}
#match-card #context-menu .modal-header {
  margin-bottom: 7px;
}
#match-card #card-addx {
  max-width: 80%;
}
#match-card #submit-card a.float-right {
  margin-left: 10px;
}
#match-card h2 {
  margin-top: 0.5rem;
  font-size: 0.75em !important;
  font-style: italic;
}
#match-card .role {
  font-size: 0.7em;
  font-weight: bold;
  padding: 0 4px;
  width: 30px;
  text-align: center;
  color: white;
  border-radius: 2px;
  margin-left: 3px;
  margin-top: 3px;
}
#match-card #select-role {
  xdisplay: none;
}
#match-card #select-role label {
  color: white;
  border: 0;
  border-radius: 0;
  padding: 2px 4px;
  font-size: 80%;
}
#match-card .role-goalkeeper {
  background: green;
}
#match-card .role-captain {
  background: black;
}
#match-card div.role-captain {
  border-radius: 0;
}
#match-card .role-manager {
  background: blue;
}
#match-card .role-physio {
  background: red;
}

.waiting {
  cursor: progress !important;
}

.login {
  color: white;
}

*:active,
*:hover {
  cursor: pointer;
}

.navbar-brand {
  color: white !important;
  margin-top: -2px;
}

pre {
  white-space: pre-wrap;
}

header {
  border-bottom: 3px solid crimson !important;
}

.modal small {
  margin-top: 5px;
  font-style: italic;
  font-size: 80%;
  display: block;
  line-height: 1;
}

.modal-content,
#context-menu {
  border: 5px solid mediumseagreen;
}

.alert-detail {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dotted lightgray;
}

/* ---------- Matchcard Formatting ------------------------------ */
#context-menu {
  xbackground: white;
  xfont-size: 90%;
  position: fixed;
  xborder-radius: 5px;
  xtop: 1em;
  xright: 1em;
  xbottom: 1em;
  xleft: 1em;
  z-index: 5000;
  min-width: 15em;
  xborder: 1px solid black;
}
#context-menu h3 {
  padding-top: 15px;
  padding-bottom: 10px;
}
#context-menu #set-number {
  margin: 0 20px;
}
#context-menu .card-yellow img,
#context-menu .card-red img,
#context-menu .card-green img,
#context-menu .card-clear img,
#context-menu .card {
  width: 1em;
  margin-right: 2px;
}
#context-menu .card {
  display: inline-block;
  border: none;
}
#context-menu .dropdown-title {
  font-size: 140%;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
#context-menu li {
  white-space: nowrap;
  padding: 2px 10px;
}
#context-menu li .divider {
  padding: 0;
}
#context-menu #context-close {
  display: inline;
  margin-left: 20px;
}

#signatures div {
  position: relative;
  margin-top: 15px;
}
#signatures div span {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: red;
}
#signatures div img {
  max-width: 300px;
  max-height: 100px;
}

#signature {
  position: fixed;
  display: none;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
#signature .button-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: rotate(-90deg);
}
#signature h5 {
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotate(-90deg);
}

#submit-card {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #444;
  padding: 10px;
  z-index: 500;
}

#submit-matchcard #submit-form-signature canvas {
  height: 230px;
}

#submit-form-signature div {
  position: relative;
}
#submit-form-signature div #clear-button {
  position: absolute;
  right: 5px;
  top: 35px;
}

#login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
#login .checkbox {
  font-weight: normal;
  font-size: 90%;
}
#login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}
#login #user-select {
  height: 45px;
  margin-top: 22px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#login .pin {
  height: 45px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
#login button {
  margin-top: 20px;
}
#login img {
  width: 10em;
  margin-left: -5em;
  left: 50%;
  position: relative;
}
#login h2 {
  width: 100%;
  text-align: center;
}
#login h2 a {
  color: black;
}
#login select#user-select {
  margin-top: 14px !important;
}
#login input.pin {
  -webkit-text-security: disc;
}
#login input.pin::-webkit-inner-spin-button,
#login input.pin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#login div#site-select {
  max-width: 330px;
  margin: 0 auto;
}
#login div#site-select a {
  margin: 5px;
}
#login .switch-login {
  text-align: center;
  margin-top: 8px;
  font-size: 90%;
  display: block;
}

#registration #date-select {
  position: absolute;
  z-index: 1000;
  display: none;
}
#registration #registration-table th,
#registration #registration-table td {
  text-align: center;
}
#registration #registration-table th:nth-child(1),
#registration #registration-table td:nth-child(1) {
  width: 32px;
}
#registration #registration-table th:nth-child(2),
#registration #registration-table td:nth-child(2) {
  width: 24px;
}
#registration #registration-table th:nth-child(3),
#registration #registration-table td:nth-child(3) {
  text-align: left;
}
#registration #registration-table .deleted {
  text-decoration: line-through;
  color: red;
}
#registration #registration-table .added {
  font-style: italic;
  color: green;
}
#registration #registration-table .match-pill {
  margin: 2px;
  display: block;
  float: left;
}
#registration #registration-table .match-pill span {
  font-size: 80%;
  color: black;
  padding: 3px;
  background: #fffff8;
  border: 2px solid #b08080;
  border-left: 0;
  border-radius: 0 5px 5px 0;
}
#registration #registration-table .match-pill span:first-child {
  border-radius: 5px 0 0 5px;
  background: #b08080;
  color: white;
  border-color: #b08080;
  border-right: 0;
}
#registration #registration-table .match-pill-cup span {
  border-color: #8080b0 !important;
}
#registration #registration-table .match-pill-cup span:first-child {
  background: #8080b0;
}
#registration #registration-table img.membership {
  width: 20px;
  height: 20px;
  margin: -2px 0 0 5px;
}
#registration .form-confirmation {
  position: relative;
  height: 45px;
}
#registration .form-confirmation p {
  position: absolute;
  top: 2px;
  left: 2em;
  font-size: 75%;
  font-style: italic;
}
#registration .form-control label {
  margin-bottom: 0;
  font-size: 80%;
}
#registration tr.error td {
  color: red;
}
#registration .dt-right {
  text-align: right;
}
#registration #errors {
  display: none;
}
#registration #errors .error {
  color: red;
}
#registration #errors .warn {
  color: orange;
}

#users-select {
  padding-left: 20px;
  float: left;
}

#fixtures-table tr.hidden {
  color: darkgray;
  text-decoration: line-through;
}

#fixtures .date {
  padding-right: 4px;
}

/*# sourceMappingURL=style.css.map */
