.infinite-scroll {
  position: absolute;
  height: 400px;
  bottom: 50px;
  top: 50px;
  right: 0;
  left: 0;
  overflow-y: scroll;

  .infinite-scroll-row {
    padding: 10px;
  }

  td { padding: 0px 10px; }
}